# Python
*.py[cod]
__pycache__/
*.so

# Django stuff
*.sqlite3
/db.sqlite3

# Virtual environment
venv/
env/
ENV/

# VS Code
.vscode/

# Env config
.env
*.env

# Media uploads
media/
staticfiles/

# Mac/Linux
.DS_Store